<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta content="color-scheme" name="light dark" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mohammad MGH</title>
</head>
<body>
    
    <div class="container">
        <div class="card">
            <div class="circle-top"></div>
            <div class="circle-bottom"></div>
            <div class="describ">
                <h2>title</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores quo hic tempora aliquam explicabo nemo enim cupiditate est, obcaecati, porro mollitia corrupti recusandae laborum unde. Quam, odio. Quasi, soluta quam?</p>
            </div>
        </div>
    </div>

</body>
</html>