html {
    font-size: 62.5%;/* 10px */
}

:root {

    /* tracks */
    --sys-spacing-track: 8px;

    /* radiuses */
    --sys-radius-none: 2px;
    --sys-radius-xsmall: 4px;
    --sys-radius-small: 8px;
    --sys-radius-medium: 12px;
    --sys-radius-large: 16px;
    --sys-radius-xlarge: 28px;
    --sys-radius-fab-icon: 25%;/* OR 50% */
    --sys-radius-image-or-fab-icon: 50%;

    /* colors */
    --sys-color-hue: 240;
    --sys-color-primary: hsl(var(--sys-color-hue), 35%, 48%);
    --sys-color-on-primary: hsl(var(--sys-color-hue), 100%, 99%);
    --sys-color-primary-container: hsl(var(--sys-color-hue), 100%, 94%);
    --sys-color-on-primary-container: hsl(var(--sys-color-hue), 100%, 18%);

    /* opacities */
    --sys-surface-elevation-opacity-1: 0.2;
    --sys-surface-elevation-opacity-2: 0.14;
    --sys-surface-elevation-opacity-3: 0.12;

    /* colors and opacities hover */
    --sys-surface-state-color: var(--sys-color-hue), 100%, 18%;
    --sys-surface-state-opacity-focus: 0.119;
    --sys-surface-state-opacity-hover: 0.079;

    /* transitions */
    --transition-duration-very-long: 500ms;
    --transition-duration-long: 450ms;
    --transition-duration-short: 300ms;
    --transition-duration-very-short: 150ms;

    /* motions */
    --ref-motion-duration-frame: 16.66666666666666667ms;
    --ref-motion-duration-small: calc(8 * var(--ref-motion-duration-frame));
    --ref-motion-duration-large: calc(18 * var(--ref-motion-duration-frame));

    /* references */
    --ref-font-weight-regular: 400;
    --ref-font-weight-medium: 500;
    --ref-font-weight-bold: 700;
    
    --ref-font-family-regular: ;

    /* box shadows */
    --sys-color-shadow-hsl: 0, 0%, 0%;
    --sys-surface-elevation-2: 
        0 3px 1px -2px hsla(var(--sys-color-shadow-hsl), var(--sys-surface-elevation-opacity-1)),
        0 2px 2px 0 hsla(var(--sys-color-shadow-hsl), var(--sys-surface-elevation-opacity-2)),
        0 1px 5px 0 hsla(var(--sys-color-shadow-hsl), var(--sys-surface-elevation-opacity-3))
    ;
    
    --elevation-1: 
      1px 4px 4px -2px rgba(0, 0, 0, 0.14),
      4px 1px 8px 0 rgba(0, 0, 0, 0.12),
      0 3px 3px -2px rgba(0, 0, 0, 0.4)
    ;
    --elevation-2: 
      0 2px 4px 0 rgba(0, 0, 0, 0.14),
      0 1px 8px 0 rgba(0, 0, 0, 0.12),
      0 3px 3px -2px rgba(0, 0, 0, 0.4)
    ;
    
    --elevation-3: 
      3px 3px 4px 0 rgba(255, 255, 255, 0.14),
      -2px -2px 8px 0 rgba(255, 255, 255, 0.12),
      -1px 3px 3px -2px rgba(255, 255, 255, 0.4)
    ;
    
    --elevation-4: 
      0px 5px 15px 0px rgba(0, 0, 0, 0.15),
      0 3px 3px -2px rgba(0, 0, 0, 0.4)
    ;

  }
  
  /* @media (prefers-color-scheme: dark) {
    :root {
      --sys-color-primary: hsl(215, 15%, 16%);
      --sys-color-on-primary: hsl(252, 4%, 75%);
      --sys-color-primary-container: hsl(216, 46%, 69%);
      --sys-color-on-primary-container: hsl(208, 100%, 18%);
  }
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    overflow: auto;
    align-items: center;
}

.box {
  display: inline-flex;
  align-items: center;
}

.st-image {
  border-radius: var(--sys-radius-image-or-fab-icon);
  margin-left: var(--sys-spacing-track);
  padding: var(--sys-spacing-track);
  display: inline-block;
}

.text {
    width: 200px;
}

.text b {
    display: block;
    margin: 5px 0 5px 0;
}

.list-box {
    border-radius: var(--sys-radius-medium);
    color: var(--sys-color-on-primary-container);
    background-color: var(--sys-color-primary-container);
    box-shadow: var(--sys-surface-elevation-2);
    margin: 20px;
    overflow: clip;
    min-width: 500px;
    max-width: 700px;
    margin: calc(5 * var(--sys-spacing-track)) auto;
}

.list-box ul li {
    text-transform: capitalize;
}

.list-box ul {
    list-style-type: none;
}

.list-box li {
    padding: var(--sys-spacing-track) calc(2 * var(--sys-spacing-track));
    font-weight: var(--ref-font-weight-medium);
    font-size: 1.4rem;
    letter-spacing: normal;
    line-height: calc(4 * var(--sys-spacing-track));
    align-items: center;
    cursor: pointer;
    transition: all var(--ref-motion-duration-frame);
    border-top: 1px solid hsla(var(--sys-surface-state-color), 0.3);
}

.list-box li:hover {
    background-color: hsla(var(--sys-surface-state-color), var(--sys-surface-state-opacity-hover));
}

.list-box li:last-child {
    border-bottom: none;
}

.list-box li:active {
    background-color: hsla(var(--sys-surface-state-color), var(--sys-surface-state-opacity-focus));
}

.icons {
  position: relative;
  float: right;
}

.my-btn {
    margin: 25px 25px 25px 320px;
    font-size: 1em;
    appearance: none;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    color: var(--sys-color-on-primary-container);
    font-weight: var(--ref-font-weight-bold);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    float: right;
  }
  
  .my-btn:hover {
    border-color: rgb(210, 226, 252);
    background-color: hsla(217, 89%, 61%, 0.04);
  }
  
  .my-btn:active {
    box-shadow: 
      0 3px 4px 0 rgba(0, 0, 0, 0.14),
      0 1px 8px 0 rgba(0, 0, 0, 0.12), 
      0 3px 3px -2px rgba(0, 0, 0, 0.4);
    border-color: rgba(210, 226, 252, 0.15);
    background-color: rgba(66, 134, 244, 0.123);
  }